{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Crowdin</a>
    <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav me-auto">
     <li class="nav-item">
          <a class="nav-link" href="./">Already an account? Login</a>
        </li>
        </ul>
        </div>
        </nav>
    <h1>Register</h1>
{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
